@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To DocuMate!</h1>
    <p class="lead">Ideagen DocuMate is a useful utility which allows for the storage and distribution of various document types.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>
